*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.nav-bar{
  background-image: linear-gradient(-90deg, #eeaeca, #94bbe9);
}

.logo{
  cursor: pointer;
  color: rgba(0, 136, 169,1);
}

.nav-link{
  list-style: none;
  font-size: 16px;
  margin: 3px;
  color: #fff!important;
  font-weight: 500;
}

.navbar-nav{
  text-align: right;
  margin-right: 20px;
}

.nav-bar .navbar-toggler{
  padding-right: 50px;
  outline: none!important;
  border: none!important;
}

.navbar .fa{
  color: #ffffff;
  font-size: 26px;
}

.nav-link:hover{
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
}

button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169,0.8);
}

.navbar-brand {
  width:150px;
  margin-top: 5px;
  margin-left: 20px;

}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px){
  .nav-link:hover{
    border-radius: none!important;
  }
}