<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>
   
    <header>
      <!-- <img src="/Images/jeffery-erhunse-BQMZ5ligqps-unsplash.jpg" alt="logo" class="logo"> -->
      <h6 class="logo">Logo</h6>
      
       <nav>
           <ul class="nav-links">
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Login</a></li>
               <li><a href="#">Register</a></li>
           </ul>
       </nav>
       <a href="#" class="cta"><button>Contact</button></a>
   </header>
   {% block content%}{%endblock%}
</body>
</html>